@import "tailwindcss";

:root {
  --primary: #0756a4;
  --navy: #102b46;
  --accent: #e3262e;
  --background: #ffffff;
  --foreground: #102b46;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

a {
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #0756a4;
  color: white;
}